{{> header}}
{{> navBar}}
<div class="row">
    <div class="col-8">
        <h1>Venecia</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis natus culpa dolorem tenetur vel voluptatibus, expedita qui mollitia modi facere. Iste explicabo delectus dolor veniam aspernatur possimus? Quisquam, commodi reiciendis.</p>
    </div>
    <div class="col-4">
        <img src="assets/img/img1.jpg" class="img-thumbnail">
    </div>
</div>
{{> footer}}

